section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  gap: 2rem;
  width: 28rem;
}

section h2 {
  font-size: 1.8rem;
  font-weight: 100;
}

button {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-weight: 600;
}

.search-and-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 9.9rem;
}

.part-add {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.tasks {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 0.8rem;
  font-size: 1.2rem;
  font-weight: 300;
  width: 100%;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
  font-size: 2rem;
  font-weight: 100;
}

.empty img {
  width: 12rem;
  stroke: red;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  section {
    width: 97%;
    margin: 3rem 0;
  }

  .part-add {
    flex-direction: column;
    margin-top: 7rem;
  }

  button {
    padding: 1.1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .search-and-list {
    margin-bottom: 0;
  }
}
