footer {
  padding: 1rem;
  background-color: #10002b;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 200;
  color: #fff;
  margin-top: 3rem;
}

footer a {
  color: #fff;
  font-weight: 500;
}

@media (max-width: 768px) {
  /* ... */
}
